   <div class="row-fluid">   
    <div class="span6">
    <div id="request">     
      <form>
        <fieldset>
          <legend>Request</legend>
          <a href="#/request/new">Clear fields</a>
          <label>URL</label>        
          <input class="span5" type="text" name="url" ng-model="url" /></li>         
          <label>Method</label>
          <label class="checkbox">
            <input ng-model="method" ng-change="hideBody()" type="radio" name="method" value="GET" />GET
            <input ng-model="method" ng-change="showBody()" type="radio" name="method" value="POST" />POST
            <input ng-model="method" ng-change="showBody()" type="radio" name="method" value="PUT" />PUT
            <input ng-model="method" ng-change="showBody()" type="radio" name="method" value="DELETE" />DELETE
          </label>
          <label>Headers</label>
          <div class="control-group" ng-repeat="header in headers">
              <input type="text" ng-model="header.key" />
              :
              <input type="text" ng-model="header.value" />
              <button class="btn btn-mini btn-danger ng-click="removeHeader(header)">Remove</button>
	  </div>	
          <button class="btn btn-mini btn-info" ng-click="addHeader()">Add header</button>
          <br />
          <br />
          <div id="request-body">
            <label>Body</label>
            <textarea style="width: 95%;" rows="20" ng-model="requestbody"></textarea>
          </div>
          <br />
          <button class="btn btn-primary" ng-click="sendRequest()">Send Request</button>
        </fieldset>
      </form>
    </div>
    </div>

    <div class="span6">
    <div id="response">
      <form>
        <div class="box-container">
        <fieldset>
          <legend>Response</legend>
          <label>Headers</label>
          <ul>
            <li ng-repeat="rh in responseheaders">
              {{rh}}
            </li>
          </ul>
          <div id="response-body">
            <label>Body</label>
            <textarea style="width: 95%;" rows="20" ng-model="responsebody"></textarea>
          </div>
        </fieldset>
        </div>
      </form>
    </div>
    </div>
  </div>
          
